/**
 * Sections
 * ----------------------------------------------------------------------------
 */
.block-title {
  font-size: 2.44444rem;
  margin: 0 0 1.33333rem;

  &:last-child {
    margin-bottom: 1.66667rem;
  }
}

.block-header {
  margin-bottom: 2rem;
  text-align: center;

  .block-title {
    font-size: 1.66667rem;
    margin: 0 0 0.25rem;
  }
}

.block-preview {
  margin-bottom: 1.66667rem;
}

.block-buttons {
  margin-bottom: 0.83333rem;

  .button {
    margin: 0 7px 0.83333rem;
  }
}

.block-item {
  margin-bottom: 1.66667rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.hero-block,
.text-block,
.block-item {
  .cell {
    text-align: center;
  }

  .underline:after {
    display: none;
  }
}

@media only screen and (min-width: 801px) {
  .hero-block,
  .text-block,
  .block-item {
    .grid {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -0.83333rem;
    }

    .cell {
      box-sizing: border-box;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-left: 0.83333rem;
      margin-right: 0.83333rem;
      text-align: left;

      &:only-child {
        margin-left: auto;
        margin-right: auto;
        max-width: 555px;
        text-align: center;

        .underline {
          &:after {
            display: none;
          }
        }
      }
    }

    .block-preview {
      -webkit-flex: 7;
      -ms-flex: 7;
      flex: 7;
      padding-right: 68px;
    }

    .block-content {
      -webkit-flex: 5;
      -ms-flex: 5;
      flex: 5;
    }
    
    .underline:after {
      display: block;
    }

    .button {
      margin-left: 0;
      margin-right: 15px;
    }
  }

  .hero-block,
  .text-block,
  .block-item:nth-child(2n+1) {
    .grid {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    .block-preview {
      padding-left: 68px;
      padding-right: 0;
    }
  }
}

/* Call to Action */
.cta-block {
  .block-title {
    margin: 0 0 0.25rem;
  }

  .cell {
    text-align: center;
  }

  @media only screen and (min-width: 741px) {
    .grid {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -0.83333rem;
    }

    .cell {
      box-sizing: border-box;
      margin-left: 0.83333rem;
      margin-right: 0.83333rem;
      text-align: left;
    }

    .block-content {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .block-buttons {
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-left: 68px;
    }
  }
}

/* Contact */
.contact-block {
  .contact-form {
    margin-bottom: 1.66667rem;
  }

  &:only-child {
    .block-header {
      max-width: 750px;
    }

    .block-title {
      font-size: 2.44444rem;
      margin-bottom: 2.5rem;
    }

    .block-subtitle {
      border-bottom: 1px solid _palette(border);
      font-size: 1.33333rem;
      line-height: 1.5;
      margin-bottom: 1.66667rem;
      padding-bottom: 1.33333rem;
      text-align: left;
    }
  }
}

.block {
  &.bg-white {
    background: #fff;

    .post-card-inside,
    .review-inside,
    .plan-inside {
      box-shadow: 0 3px 10px 0 rgba(_palette(primary),.15);
    }
  }

  &.bg-accent {
    background: _palette(accent);
    background: -webkit-linear-gradient(left,_palette(accent), _palette(accent-alt));
    background: linear-gradient(to right,_palette(accent), _palette(accent-alt));
    color: #fff;

    .block-title {
      color: inherit;
    }

    .underline:after {
      border-color: currentColor;
    }
  }

  &.bg-white + &.bg-white,
  &.bg-gray + &.bg-gray {
    padding-top: 0;
  }
}
